@import '~@fluentui/react/dist/sass/References.scss';

.dashboardTable {
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  background-color: "[theme:bodyBackground, default: #ffffff]";
  background-color: var(--bodyBackground);
}

.dashboardToolbar {
  position: absolute;
  margin-top: 1px;
  height: 49px;
  right: 0;
  z-index: 1;
  background-color: var(--bodyBackground);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.rowOperations {
  display: flex;
  align-items: flex-end;
  margin: 5px;
}

.rowOperation {
  margin: 2px;
}

.dashboardColumn {
  font-weight: bold;
}

.nameColumn {
  @extend .dashboardColumn;
  
  min-width: 50px;
}

.operationColumnHeader {
  width: fit-content;
}
